@use '../../scss/structure.scss';

.artist-banner{
  margin: 0px auto;
  position: relative;
  top: 20px;
  -webkit-box-shadow: 2px 0px 31px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 0px 31px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 0px 31px 0px rgba(0,0,0,0.75);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 2px;
  width: 700px;
  border-radius: 10px;
  opacity: 0;
  animation: slidenfade 0.3s  forwards;

    .artist-name{
      margin-top: 6px;
      position: relative;
      width: 95%;
      top: -5px;
      margin-left: 15px;
      color: white;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 3.5em;
      font-weight: 600;
      letter-spacing: 3px;
      line-height: 60px;
    }
  
    .artist-info{
      display: flex;
      flex-direction: row;
      width: 100%;
      .artist-image{
        max-height: 350px;
        max-width: 800px;
        z-index: 0;
        transition: 0.7s;
        margin-left: 5px;
        margin-top: 3px;
        margin-bottom: 3px;
        border-radius: 10px;
        position: relative;
      }
  
      .artist-genre{
        margin-top: 6px;
        color: white;
        font-weight: 600;
        box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.3);
        -moz-box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.3);  
        border-radius: 4px;
        background-color: rgba(36, 31, 31, 0.3);
        padding: 3px 4px 3px 4px;
  
      }
      
      .artist-genres{
        color: structure.$text;
        font-size: 0.5em;
        max-width: 90%;
        display: flex;
        gap: 0px 8px;
        flex-wrap: wrap;
        font-family: Lex;
      }

      #genre{
        color: white;
        letter-spacing: 1.5px;
        font-size: 1.8em;
        font-family: Alata;
        margin-top: 10px;
        margin-left: 15px;
      }
    }
  }

  @media (min-width: 1380px) {
    .artist-banner{
       width: 50%;
      .artist-info{
        justify-content: space-between;
        .artist-image{
          height: 700px;
        }
      }
      
    }
    }
    @media  (max-width: 900px){
      .artist-banner{
        width: 365px;
        min-width: none;
        max-width: none;
        width: none;

        .artist-info{
          flex-direction: column;
          align-items: center;
            .artist-image{
              margin: none;
              padding-right:3px ;
            }
          
            .info{
              position: relative;
              top: -10px;
              font-size: 0.8em;

              .artist-name{
                width: 300px;
                font-size: 2em;
                top: -10px;
              }

              #genre{
                position: relative;
                top: -30px;
                font-size: 1.5em;
              }
              
              .artist-genres{
                width: 300px;
                font-size: 0.6em;
                margin-top: 0px;
              }
            }
        }
      }
      
    }