
@use '../../scss/structure.scss';



    .tracklist{
        // scrollbar-width: 0px;
        .track{
            //  background-color: palegoldenrod;
            margin-top: 1px;
            margin-top: 1px;
            overflow-x: scroll;
            // border: solid structure.$text 1px;
             border-radius: 2px;
            background-color:rgb(0,0,0,0.1);
            .track-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 5px;
                //  background-color: pink;
                height: 26px;
                .material-symbols-outlined{
                    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 50, "opsz" 34; color: structure.$text;
                    color: red;
                    // line-height: 50px;
                    font-size:18px;
                    position: relative;
                     top: 3px;
                     margin-right: 6px;
                   
                    }
                    .track-name{
                        //  background-color: orange;
                        width: 80%;
                        // width: 200px;
                        // height: 23px;
                        position: relative;
                        // overflow-x: scroll;
                        scrollbar-width: none;
                        white-space: nowrap;
                         overflow-x: hidden;
                         overflow-y: visible;
                        text-overflow:ellipsis;
                        // animation: marquee 30s linear infinite;
                        color: structure.$text;
                        // z-index: 99;
                        margin-right: 160px;
                        letter-spacing: 0.8px;
                        
                        & a{
                            text-decoration: none;
                            color: structure.$text;
                            white-space: nowrap;
                        text-overflow:ellipsis;
                        // width: 30%;

                        }
                    }
                    .track-number{
                        margin-right: 25px;
                        color: rgb(14, 134, 50);
                        margin-left: 7px;
                        // margin-top: 15px;
                        position: relative;
                        top: 12px;
                        // margin-bottom: 5px;
                        //  z-index: 80;
                        overflow:visible;
                        
                        height: 30px;
                        width: 12px;
                        // background-color: red;
                    }

                    .track-length{
                        margin-right: 10px;
                        color: structure.$text;
                        font-size: .7em;
                        margin-top: 25px;
                        font-family: Alata;

                    }
            }
           .track-artist-container{
            margin-left: 55px;
           }
            .track-artist a{

                text-decoration: none;
                font-size: 0.7em;
                color: structure.$text-2;
                font-family: Alata;
                letter-spacing: 0.4px;
                font-weight: 100;


                
            }

            .comma{
                 margin-left: 1px;
                color: white;
            }
        }
    }

    @media (min-width: 1380px) {
        // .track-artist a{
                
        //     text-decoration: none;
        //     font-size: 14px;
        //     color: rgb(160, 159, 159);
         

            
        // }

    }

    @media (max-width: 800px) {
        .tracklist{
        .track{
            //  background-color: palegoldenrod;
            margin-top: 1px;
            margin-top: 1px;
            overflow-x: scroll;
            // border: solid structure.$text 1px;
             border-radius: 2px;
            background-color:rgb(0,0,0,0.1);
            .track-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 5px;
                //  background-color: pink;
                height: 26px;
                .material-symbols-outlined{
                    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 50, "opsz" 34; color: structure.$text;
                    color: red;
                    // line-height: 50px;
                    font-size:18px;
                    position: relative;
                     top: 3px;
                     margin-right: 6px;
                   
                    }
                    .track-name{
                       
                        margin-right: 20px;
                        letter-spacing: 0.4px;
                        font-size: .8em;
                        
                       
                    }
                    

                    
            }
           
        }
    }

    }