
@use '../../scss/structure.scss';



    .tracklist{

        .track{
            // background-color: palegoldenrod;
            margin-top: 1px;
            margin-top: 1px;
            overflow-x: scroll;
            // border: solid structure.$text 1px;
             border-radius: 2px;
            background-color:rgb(0,0,0,0.1);
            .track-info{
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin-left: 5px;
                .material-symbols-outlined{
                    font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 50, "opsz" 34; color: structure.$text;
                    // line-height: 50px;
                    font-size:18px;
                    position: relative;
                     top: 3px;
                     margin-right: 6px;
                    //  overflow-x: scroll;
                    }
                    .track-name{
                        // background-color: orange;
                        width: 88%;
                        height: 20px;
                        // overflow-x: scroll;
                        scrollbar-width: none;
                        white-space: nowrap;
                        text-overflow:ellipsis;
                        animation: marquee 30s linear infinite;
                        color: structure.$text;
                        & a{
                            text-decoration: none;
                            color: structure.$text;
                        }
                    }
                    .track-name:hover{
                        
                    }

                    .track-length{
                        margin-right: 10px;
                        color: structure.$text;

                    }
            }
           
            .track-artist a{
                
                // margin-left: 10px;
                text-decoration: none;
                font-size: 12px;
                color: rgb(182, 175, 175);
                // word-spacing: ;
                // gap: 10px;

                
            }

            .comma{
                 margin-left: 1px;
                color: white;
            }
        }
    }

    @keyframes marquee {
        0% {
            left: 100%;
          }
          100% {
            left: -100%
          }
      }