@use '../../scss/structure.scss';

.album-card{
    z-index: -99;
    height: 140px;
    width: 370px;
    // backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    transition: 0.3s;
    animation: slidenfade 0.9s  forwards;
     opacity: 0;
    // box-shadow: -1px -1px 9px 5px rgba(0,0,0,0.44);
    // -webkit-box-shadow: -1px -1px 9px 5px rgba(0,0,0,0.44);
    // -moz-box-shadow: -1px -1px 9px 5px rgba(0,0,0,0.44);
    cursor: pointer;

    .card-image{
        height: 140px;
        width: 140px;
        border-bottom-left-radius: 9px;
        border-top-left-radius: 9px;
        opacity: 90%;
        z-index: 10;
    }
    .card-content{
        font-family: Alata;
        font-weight: 600;
        letter-spacing: 2.5px;
        font-size: 3.5em;
        height: 140px;
        margin-left: 5px;
        display: flex;
        align-items: center;
    }

    .card-title{
        line-height: 30px;
        height: 122px;
        width: 210px;
        font-size: .45em;
        overflow:hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-right: 15px;
        transition: 0.3s;
        color: white;
    }
}

.album-card:hover{
    background-color: rgba(0,0,0,0.15);
}





@media (min-width: 1380px) {


}

@media (max-width:500px) {
    .album-card{
        width: 300px;

        .card-title{
            width: 150px;
            font-size: .3em;

        }
    }
    
}

