@use '../../scss/structure.scss';

.album-card{
     z-index: -99;
  
    height: 140px;
    width: 400px;
    // background-color: rgb(77, 74, 110);
    // background-color: rgb(54, 47, 73);
    // background-color: structure.$secondary;
    backdrop-filter: blur(15px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    transition: 0.5s;
    animation: fadeinLoad 1s 0.4s forwards;
    opacity: 0;
    box-shadow: -1px -1px 9px 5px rgba(0,0,0,0.44);
    -webkit-box-shadow: -1px -1px 9px 5px rgba(0,0,0,0.44);
    -moz-box-shadow: -1px -1px 9px 5px rgba(0,0,0,0.44);
    .card-image{
        height: 140px;
        width: 140px;
        border-bottom-left-radius: 5px;
        border-top-left-radius: 5px;
        cursor: pointer;
        opacity: 90%;
        z-index: 10;
    }
    .card-content{
        font-family: Alata;
        font-weight: 600;
        letter-spacing: 2.5px;
        font-size: 3.5em;
        // width: 210px;
        height: 140px;
        // color: structure.$text;
        //   color: black;
        // margin-right: 20px;
        margin-left: 10px;
        // background-color: pink;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }
    .card-title{
        line-height: 30px;
        height: 122px;
        width: 225px;
        font-size: .45em;
         overflow:hidden;
        // color: white;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        margin-right: 20px;
        // background-color: purple;
        // margin-top: 20px;
        // display: flex;
        // align-items: center;
        // justify-content: space-evenly;

    }


}

.album-card:hover{
    transform: scale(1.03);
}





@media (min-width: 1380px) {


}

@media (max-width: 900px) {

.nav-title{
    display: none;
}
}