@use '../../scss/structure.scss';

.home-album-content{
  width: 70%;
   margin: 0 auto;
  display: flex;
  align-items: center; 
  align-content: center;
  justify-content: space-evenly;
  flex-direction: column;
  //  background-color: red;
  flex-wrap: wrap;
  gap: 20px 12px;
  margin-top: 60px;
  max-width: 1350px;
  z-index: 2;
  transition: 0.7s;
  animation: fadeinLoad 1s 0.4s forwards;
  font-family: Lex;
  // font-weight: 500;
  // position: absolute;
  // right: 50px;

}


.artist-banner{
  margin: 0px auto;
  position: relative;
    top: -90px;
  // border-radius: 10px; 
  display: flex;
  align-items: center;
  flex-direction: column;
  //  background-color: red;
  // padding: 200px;
 padding-top: 80px;

  .artist-name{
    margin-top: -15px;
    position: relative;
    top: -10px;
    margin-left: 15px;
    color: structure.$text;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 3em;
    font-weight: 600;
    letter-spacing: 5px;
  }

  .artist-info{
    display: flex;
    align-items: center;
    flex-direction: column;

    .artist-image{
      // height: 370px;
      width: 500px;
      margin: 0 auto;
      z-index: 2;
      transition: 0.7s;
      margin-bottom: 15px;
      margin-left: 15px;
      border-radius: 5px
    }

    .artist-genre{
      margin-top: 6px;
      color: structure.$text;
      font-size: 16px;
      background-color: rgba(27,221,102,0.25);
      padding: 6px 5px 6px 5px;
      border-radius: 18px;
      box-shadow: 0px 0px 1px 1px rgba(30, 27, 221, 0.6);
      -webkit-box-shadow: 0px 0px 2px 1px rgba(30, 27, 221, 0.6);
      -moz-box-shadow: 0px 0px 1px 1px rgba(30, 27, 221, 0.6);
    }
    
    .artist-genres{
      color: structure.$text;
      font-size: 1em;
      margin: 0 auto;
      width: 90%;
      display: flex;
      gap: 0px 8px;
      flex-wrap: wrap;
    }
    #genre{
      align-self: center;
      text-align: left;
      width: 90%;
      color: structure.$text;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      font-size: 20px;
    }
  }
}

.album-container{
  width: 65%;
    // background-color: rgb(38, 22, 126);
  display: flex;
  // align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;


  .music-type{
    font-size: 40px;
    color: structure.$text;
    background-color: rgba(7, 212, 86, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(5px);
    text-indent: 10px;
    padding: 2px 2px 2px 2px;
    // width: 70%;
    font-weight: 550;
    letter-spacing: 0.8px;
  }

  .album-year{
    font-size: 30px;
    color: white;
    position: relative ;
    top: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-right: 80px;
    width: 100%;
    letter-spacing: 3px;
    margin-left: 5px;
    margin-right: 80px;
    font-weight: 500;
    
  }
  .album-year::after{
    content: "";
    display: block;
    width: 220px;
    height: 4px;
    border-radius: 2px;
    background-color: structure.$text;
    opacity: 80%;
    position: relative;
    left: -2px;
  }
  .album-years-container{
        // background-color: green;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 20px;
    // margin-left: ;
    
  }


}



  @keyframes fadeinLoad {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

@media screen and (min-width: 480px) {
    .album-card{
        size: 80%;
    }

}