* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background: rgb(36, 15, 144);
  background: radial-gradient(circle, rgb(26, 10, 104) 0%, rgb(47, 11, 79) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb { /* Foreground */ }

::-webkit-scrollbar-track {
  /* Background */
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Lex;
  src: url("../assets/fonts/Lexend-VariableFont_wght.ttf");
}
@font-face {
  font-family: Alata;
  src: url("../assets/fonts/Alata-Regular.ttf");
}
@font-face {
  font-family: Koh;
  src: url("../assets/fonts/koh/KohSantepheap-Regular.ttf");
}
@-webkit-keyframes fadeinLoad {
  to {
    opacity: 1;
  }
}
@keyframes fadeinLoad {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeoutLoad {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeoutLoad {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background: rgb(36, 15, 144);
  background: radial-gradient(circle, rgb(26, 10, 104) 0%, rgb(47, 11, 79) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb { /* Foreground */ }

::-webkit-scrollbar-track {
  /* Background */
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Lex;
  src: url("../assets/fonts/Lexend-VariableFont_wght.ttf");
}
@font-face {
  font-family: Alata;
  src: url("../assets/fonts/Alata-Regular.ttf");
}
@font-face {
  font-family: Koh;
  src: url("../assets/fonts/koh/KohSantepheap-Regular.ttf");
}
@keyframes fadeinLoad {
  to {
    opacity: 1;
  }
}
@keyframes fadeoutLoad {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  position: sticky;
  z-index: 3;
}
.navbar .nav-title {
  font-family: Lex;
  position: sticky;
  left: 40px;
  font-size: 30px;
  font-weight: 600;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: rgb(27, 221, 102);
}

.search-bar {
  position: sticky;
  background-color: rgba(0, 0, 0, 0.2);
  background: -webkit-gradient(linear, left top, right top, color-stop(20%, rgba(36, 15, 144, 0.2)), to(rgba(47, 11, 79, 0.2)));
  background: linear-gradient(90deg, rgba(36, 15, 144, 0.2) 20%, rgba(47, 11, 79, 0.2) 100%);
  top: 20px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  -webkit-box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 2000px rgba(0, 0, 0, 0.3);
  width: 60px;
  margin: 0 auto;
  margin-left: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
          transition-timing-function: cubic-bezier(0, 0, 1, 1);
  border-radius: 20px;
}
.search-bar .custom_input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin: 0;
}
.search-bar .custom_input input[type=text] {
  background-color: rgba(255, 255, 255, 0.9);
}
.search-bar .custom_input .input {
  margin: 0 auto;
  font-size: 18px;
  padding: 2px 2px;
  width: 130%;
  height: 40px;
  padding-left: 35px;
  outline: none;
  color: #000000;
  border: 3px solid #C4D1EB;
  border-radius: 14px;
  /* box-shadow: 3px 3px 2px 0px #E2E2E2; */
}
.search-bar .custom_input .input-small {
  width: 20px;
}
.search-bar .custom_input .input::-webkit-input-placeholder {
  color: #a09595;
}
.search-bar .custom_input .input::-moz-placeholder {
  color: #a09595;
}
.search-bar .custom_input .input:-ms-input-placeholder {
  color: #a09595;
}
.search-bar .custom_input .input::-ms-input-placeholder {
  color: #a09595;
}
.search-bar .custom_input .input::placeholder {
  color: #a09595;
}
.search-bar .custom_input .svg_icon {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 1, 1);
          transition-timing-function: cubic-bezier(0, 0, 1, 1);
  position: absolute;
  fill: #4660DC;
  background-color: none;
  height: 20px;
  cursor: pointer;
}

.search-bar-large {
  width: 220px;
  padding: -80px;
}
.search-bar-large .svg_icon {
  margin-right: 85%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background: rgb(36, 15, 144);
  background: radial-gradient(circle, rgb(26, 10, 104) 0%, rgb(47, 11, 79) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb { /* Foreground */ }

::-webkit-scrollbar-track {
  /* Background */
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Lex;
  src: url("../assets/fonts/Lexend-VariableFont_wght.ttf");
}
@font-face {
  font-family: Alata;
  src: url("../assets/fonts/Alata-Regular.ttf");
}
@font-face {
  font-family: Koh;
  src: url("../assets/fonts/koh/KohSantepheap-Regular.ttf");
}
@keyframes fadeinLoad {
  to {
    opacity: 1;
  }
}
@keyframes fadeoutLoad {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
.album-modal {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 10;
  top: 0;
  left: 0;
  opacity: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-animation: fadeinLoad 0.2s 0.2s forwards;
          animation: fadeinLoad 0.2s 0.2s forwards;
}

.album-modal-details {
  z-index: 11;
  border-radius: 8px;
  margin-top: 10px;
  height: 600px;
  overflow: scroll;
  width: 750px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgb(53, 26, 128)), to(rgb(44, 8, 102)));
  background: linear-gradient(180deg, rgb(53, 26, 128) 0%, rgb(44, 8, 102) 100%);
  -webkit-animation: slide-in-top 0.4s forwards;
          animation: slide-in-top 0.4s forwards;
}

.album-modal-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 12;
  position: sticky;
  top: 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lex;
  font-size: 3.1em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: rgb(27, 221, 102);
  max-height: 250px;
  letter-spacing: 2px;
  font-weight: 500;
}
.album-modal-top .album-modal-artwork {
  width: 250px;
  height: 250px;
}
.album-modal-top .album-modal-title {
  width: 100%;
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  padding-left: 20px;
  text-align: left;
  max-height: 250px;
  position: relative;
}

.fade {
  -webkit-animation: fadeoutLoad 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: fadeoutLoad 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide {
  -webkit-animation: slide-out-top 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: slide-out-top 0.4s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background: rgb(36, 15, 144);
  background: radial-gradient(circle, rgb(26, 10, 104) 0%, rgb(47, 11, 79) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb { /* Foreground */ }

::-webkit-scrollbar-track {
  /* Background */
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Lex;
  src: url("../assets/fonts/Lexend-VariableFont_wght.ttf");
}
@font-face {
  font-family: Alata;
  src: url("../assets/fonts/Alata-Regular.ttf");
}
@font-face {
  font-family: Koh;
  src: url("../assets/fonts/koh/KohSantepheap-Regular.ttf");
}
@keyframes fadeinLoad {
  to {
    opacity: 1;
  }
}
@keyframes fadeoutLoad {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
.tracklist .track {
  margin-top: 1px;
  margin-top: 1px;
  overflow-x: scroll;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}
.tracklist .track .track-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 5px;
}
.tracklist .track .track-info .material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 300, "GRAD" 50, "opsz" 34;
  color: rgb(27, 221, 102);
  font-size: 18px;
  position: relative;
  top: 3px;
  margin-right: 6px;
}
.tracklist .track .track-info .track-name {
  width: 88%;
  height: 20px;
  scrollbar-width: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  -webkit-animation: marquee 30s linear infinite;
          animation: marquee 30s linear infinite;
  color: rgb(27, 221, 102);
}
.tracklist .track .track-info .track-length {
  margin-right: 10px;
  color: rgb(27, 221, 102);
}
.tracklist .track .track-artist a {
  margin-left: 10px;
  text-decoration: none;
  font-size: 12px;
  color: rgb(182, 175, 175);
}

@-webkit-keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}

@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background: rgb(36, 15, 144);
  background: radial-gradient(circle, rgb(26, 10, 104) 0%, rgb(47, 11, 79) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb { /* Foreground */ }

::-webkit-scrollbar-track {
  /* Background */
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Lex;
  src: url("../assets/fonts/Lexend-VariableFont_wght.ttf");
}
@font-face {
  font-family: Alata;
  src: url("../assets/fonts/Alata-Regular.ttf");
}
@font-face {
  font-family: Koh;
  src: url("../assets/fonts/koh/KohSantepheap-Regular.ttf");
}
@keyframes fadeinLoad {
  to {
    opacity: 1;
  }
}
@keyframes fadeoutLoad {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
.home-album-content {
  width: 70%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 12px;
  margin-top: 60px;
  max-width: 1350px;
  z-index: 2;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  -webkit-animation: fadeinLoad 1s 0.4s forwards;
          animation: fadeinLoad 1s 0.4s forwards;
  font-family: Lex;
}

.artist-banner {
  margin: 40px auto;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.artist-banner .artist-name {
  margin-top: -15px;
  position: relative;
  top: -10px;
  margin-left: 15px;
  color: rgb(27, 221, 102);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 3em;
  font-weight: 600;
  letter-spacing: 5px;
}
.artist-banner .artist-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.artist-banner .artist-info .artist-image {
  height: 370px;
  margin: 0 auto;
  z-index: 2;
  -webkit-transition: 0.7s;
  transition: 0.7s;
  margin-bottom: 15px;
  margin-left: 15px;
  border-radius: 5px;
}
.artist-banner .artist-info .artist-genre {
  margin-top: 6px;
  color: rgb(27, 221, 102);
  font-size: 16px;
  background-color: rgba(27, 221, 102, 0.25);
  padding: 6px 5px 6px 5px;
  border-radius: 18px;
  box-shadow: 0px 0px 1px 1px rgba(30, 27, 221, 0.6);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(30, 27, 221, 0.6);
  -moz-box-shadow: 0px 0px 1px 1px rgba(30, 27, 221, 0.6);
}
.artist-banner .artist-info .artist-genres {
  color: rgb(27, 221, 102);
  font-size: 1em;
  margin: 0 auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0px 8px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.artist-banner .artist-info #genre {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: left;
  width: 90%;
  color: rgb(27, 221, 102);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 20px;
}

.album-container {
  width: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}
.album-container .music-type {
  font-size: 40px;
  color: rgb(27, 221, 102);
  background-color: rgba(7, 212, 86, 0.1);
  border-radius: 10px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  text-indent: 10px;
  padding: 2px 2px 2px 2px;
  font-weight: 550;
  letter-spacing: 0.8px;
}
.album-container .album-year {
  font-size: 30px;
  color: white;
  position: relative;
  top: 0px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 80px;
  width: 100%;
  letter-spacing: 3px;
  margin-left: 5px;
  margin-right: 80px;
  font-weight: 500;
}
.album-container .album-year::after {
  content: "";
  display: block;
  width: 220px;
  height: 4px;
  border-radius: 2px;
  background-color: rgb(27, 221, 102);
  opacity: 80%;
  position: relative;
  left: -2px;
}
.album-container .album-years-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px 20px;
}

@keyframes fadeinLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 480px) {
  .album-card {
    size: 80%;
  }
}
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
  background: rgb(36, 15, 144);
  background: radial-gradient(circle, rgb(26, 10, 104) 0%, rgb(47, 11, 79) 100%);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  width: 5px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}

::-webkit-scrollbar-thumb { /* Foreground */ }

::-webkit-scrollbar-track {
  /* Background */
}

h1, h2, h3, h4, h5, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: Lex;
  src: url("../assets/fonts/Lexend-VariableFont_wght.ttf");
}
@font-face {
  font-family: Alata;
  src: url("../assets/fonts/Alata-Regular.ttf");
}
@font-face {
  font-family: Koh;
  src: url("../assets/fonts/koh/KohSantepheap-Regular.ttf");
}
@keyframes fadeinLoad {
  to {
    opacity: 1;
  }
}
@keyframes fadeoutLoad {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    opacity: 0.8;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
.album-card {
  height: 140px;
  width: 350px;
  background-color: rgb(77, 74, 110);
  background-color: rgb(54, 47, 73);
  background-color: rgba(28, 28, 145, 0.3);
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation: fadeinLoad 1s 0.4s forwards;
          animation: fadeinLoad 1s 0.4s forwards;
  opacity: 0;
  box-shadow: -1px -1px 9px 5px rgba(0, 0, 0, 0.44);
  -webkit-box-shadow: -1px -1px 9px 5px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: -1px -1px 9px 5px rgba(0, 0, 0, 0.44);
}
.album-card .card-image {
  height: 140px;
  width: 140px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  cursor: pointer;
  opacity: 90%;
  z-index: 10;
}
.album-card .card-content {
  font-family: Lex;
  font-weight: 400;
  letter-spacing: 2px;
  width: 225px;
  height: 120px;
  color: rgb(27, 221, 102);
}
.album-card .card-title {
  height: 65px;
  width: 215px;
  font-size: 25px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-right: 20px;
}

.album-card:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}